<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eetdagboek</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.4/angular-resource.js"></script>


    <script>

        var app = angular.module("app",['ngResource']);

        app.factory("eetdagboekservice",function($resource){
             return $resource('http://localhost:27017/api/Maaltijd/:id',{id: "@@datum"}
            );

        });

        app.controller("EetController", function($scope, eetdagboekservice, $http){

            $scope.datum = new Date();
            $scope.showToday = true;
            $scope.showYesterday = false;
            $scope.showTomorrow = false;

//            Breakfast
            $scope.GetInputBreakfast = function(){
                $scope.visibleBreakfast = true;

                $scope.GetInputBreakfast = function(){
			         $scope.visibleBreakfast = !$scope.visibleBreakfast;
		          }
            }

            $scope.inputsBreakfast = [];
            $scope.moreInputsBreakfast = function (value) {
                console.log(" input + 1");
                $scope.inputsBreakfast.push(value);
                $scope.EetController.BreakfastItem = '';
            };

            // Lunch
            $scope.GetInputLunch = function(){
                $scope.visibleLunch = true;

                $scope.GetInputLunch = function(){
			         $scope.visibleLunch = !$scope.visibleLunch;
		          }
            }

            $scope.inputsLunch = [];
            $scope.moreInputsLunch = function(value){
                console.log(" input + 1");
                $scope.inputsLunch.push(value);
                $scope.EetController.LunchItem = '';
            };

            // Diner
            $scope.GetInputDiner = function(){
                $scope.visibleDiner = true;

                $scope.GetInputDiner = function(){
			         $scope.visibleDiner = !$scope.visibleDiner;
		          }
            }

            $scope.inputsDiner = [];
            $scope.moreInputsDiner = function(value){
                console.log(" input + 1");
                $scope.inputsDiner.push(value);
                $scope.EetController.DinerItem = '';
            };

            // Snack
            $scope.GetInputSnack = function(){
                $scope.visibleSnack = true;

                $scope.GetInputSnack = function(){
			         $scope.visibleSnack = !$scope.visibleSnack;
		          }
            }

            $scope.inputsSnack = [];
            $scope.moreInputsSnack = function(value){
                console.log(" input + 1");
                $scope.inputsSnack.push(value);
                $scope.EetController.SnackItem = '';
            };

            // select feeling voor elk appart
            var feeling = ['Normal', 'Bloating', 'Heavy belly'];

            $scope.feelingBreakfast = {
                availableOptions: feeling,
                //selectedOption: feeling[0]
            };

            $scope.feelingLunch = {
                availableOptions: feeling,
                //selectedOption: feeling[0]
            };

            $scope.feelingDiner = {
                availableOptions:feeling,
                //selectedOption: feeling[0]
            };

            $scope.feelingSnack = {
                availableOptions:feeling,
                //selectedOption: feeling[0]
            };

            $scope.PostInputBreakfast = function () {

                var maaltijd = {
                    "Titel": "Breakfast",
                    "Voedsel": $scope.inputsBreakfast,
                    "Gevoel": $scope.feelingBreakfast.selectedOption,
                    "Datum": $scope.datum.getTime()
                };
                console.log("save");
                eetdagboekservice.save(maaltijd);
            }


            $scope.PostInputLunch = function () {
                var maaltijd = {
                    "Titel": "Lunch",
                    "Voedsel": $scope.inputsLunch,
                    "Gevoel": $scope.feelingLunch.selectedOption,
                    "datum": $scope.datum.getTime()
                };
                console.log("save");
                eetdagboekservice.save(maaltijd);
            }


            $scope.PostInputDiner = function () {
                var maaltijd = {
                    "Titel": "Diner",
                    "Voedsel": $scope.inputsDiner,
                    "Gevoel": $scope.feelingDiner.selectedOption,
                    "datum": $scope.datum.getTime()
                };

                console.log("save");
                eetdagboekservice.save(maaltijd);
            }


            $scope.PostInputSnack = function () {
                var maaltijd = {
                    "Maaltijd": "Snack",
                    "Voedsel": $scope.inputsSnack,
                    "Gevoel": $scope.feelingSnack.selectedOption,
                    "datum": $scope.datum.getTime()
                }
                console.log("save");
                eetdagboekservice.save(maaltijd);
            }

            $scope.back = function () {
                console.log("back gestart");

                var yesterday = $scope.datum;
                yesterday.setDate(yesterday.getDate() - 1);
                console.log(yesterday);
                $scope.yesterday = yesterday;
                var vandaag = new Date();


                console.log(yesterday.toLocaleDateString());
                console.log(vandaag.toLocaleDateString());

                if (yesterday.toLocaleDateString() == vandaag.toLocaleDateString()) {
                    $scope.showToday = true;
                    $scope.showYesterday = false;
                    $scope.showTomorrow = false;
                }
                else {

                    $scope.showToday = false;
                    $scope.showYesterday = true;
                    $scope.showTomorrow = false;
                }


            };

            $scope.forward = function () {
                console.log("back gestart");
                var tomorrow = $scope.datum;
                tomorrow.setDate(tomorrow.getDate() + 1);
                console.log(tomorrow);
                $scope.tomorrow = tomorrow;
                var vandaag = new Date();

                if (tomorrow.toLocaleDateString() == vandaag.toLocaleDateString()) {
                    $scope.showToday = true;
                    $scope.showYesterday = false;
                    $scope.showTomorrow = false;
                }
                else {

                    $scope.showToday = false;
                    $scope.showYesterday = false;
                    $scope.showTomorrow = true;
                }
                //GetDag();
            };

            

            $scope.GetDag = function(){
                $scope.datumGet = $scope.datum.getTime();
                console.log($scope.datumGet);
                $http.get("http://localhost:27017/api/Maaltijd/"+ $scope.datumGet)
                .then(function(data)
                {
                    $scope.data = data;
                    console.log(data);
                    console.log(data.Titel);

                    $scope.inputsBreakfast = [];
                    $scope.inputsLunch = [];
                    $scope.inputsDiner = [];
                    $scope.inputsSnack = [];

                    if (data.Titel == "Breakfast") {
                        $scope.inputsBreakfast = data.Voedsel;
                        $scope.feelingBreakfast.selectedOption.name = data.Gevoel;
                    }

                    if (data.Titel == "Lunch") {
                        $scope.inputsLunch = data.Voedsel;
                        $scope.feelingLunch.selectedOption.name = data.Gevoel;
                    }
                    if (data.Titel == "Diner") {
                        $scope.inputsDiner = data.Voedsel;
                        $scope.feelingDiner.selectedOption.name = data.Gevoel;
                    }

                    if (data.Titel == "Snack") {
                        $scope.inputsSnack = data.Voedsel;
                        $scope.feelingSnack.selectedOption.name = data.Gevoel;
                    }
                });
            }
//
//           $scope.GetHotels = function(){
//              $scope.data = hotelservice.query();
//           }
//
//           var hotel  = {
//               "Name":"tom",
//               "Country":"Engeland",
//               "Price":333
//           };
//           $scope.PostHotel = function(){
//                hotelservice.save({Name: 'ppp', Country: 'ttt',Price:333});
//           }
//
//           $scope.GetHotelById = function(){
//               $scope.data = hotelservice.get({hotel: 3});
//           }
        });

    </script>

</head>
<body ng-app="app">

    <div ng-controller="EetController">
        <h1>Food Diary </h1>
        <h2><button ng-click="back()" type="button" class="btn btn-default" aria-label="arrow left">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            </button>

            <span ng-show="showToday">Today: {{datum | date: fullDate}}</span>
            <span ng-show="showYesterday">Day: {{yesterday | date: fullDate}}</span>
            <span ng-show="showTomorrow">Day: {{tomorrow | date: fullDate}}</span>


            <button ng-click="forward()" type="button" class="btn btn-default" aria-label="arrow right">
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            </button>
        </h2>

        <p><button class="btn btn-primary btn-lg" ng-click="GetInputBreakfast()">Breakfast</button> </p>
        <div class="col-md-offset-1" ng-show="visibleBreakfast">
            <p>What did you eat for breakfast?</p>
            <form name="myform" ng-submit="moreInputsBreakfast(EetController.BreakfastItem)">
                <input type="text" name="mytext" ng-model="EetController.BreakfastItem" />
                <button class="btn btn-primary" type="submit">Add</button>
            </form>

            <ul>
                <li ng-repeat="x in inputsBreakfast">{{x}}</li>
            </ul>

            <p>How did you feel?</p>
            <select name="mySelect" id="mySelect"
                    ng-options="option for option in feelingBreakfast.availableOptions track by option"
                    ng-model="feelingBreakfast.selectedOption"></select>
            
            <p><br /><button class="btn btn-primary" ng-click="PostInputBreakfast()">Opslaan</button></p>
        </div>

        <p><button class="btn btn-success btn-lg" ng-click="GetInputLunch()">Lunch</button> </p>
        <div class="col-md-offset-1" ng-show="visibleLunch">
            <p>What did you eat for Lunch?</p>
            <form ng-submit="moreInputsLunch(EetController.LunchItem)">
                <input type="text" ng-model="EetController.LunchItem" />
                <button class="btn btn-success" type="submit">Add</button>
            </form>
            <ul>
                <li ng-repeat="x in inputsLunch">{{x}}</li>
            </ul>
            <p>How did you feel?</p>
            <select name="mySelect" id="mySelect"
                    ng-options="option for option in feelingLunch.availableOptions track by option"
                    ng-model="feelingLunch.selectedOption"></select>
           
            <p><br /><button class="btn btn-success" ng-click="PostInputLunch()">Opslaan</button></p>
        </div>

        <p><button class="btn btn-warning btn-lg" ng-click="GetInputDiner()">Diner</button> </p>
        <div class="col-md-offset-1" ng-show="visibleDiner">
            <p>What did you eat for Diner?</p>
                <form ng-submit="moreInputsDiner(EetController.DinerItem)">
                    <input type="text" ng-model="EetController.DinerItem" />
                    <button class="btn btn-warning" type="submit">Add</button>
                </form>
            <ul>
                <li ng-repeat="x in inputsDiner">{{x}}</li>
            </ul>
            <p>How did you feel?</p>
            <select name="mySelect" id="mySelect"
                    ng-options="option for option in feelingDiner.availableOptions track by option"
                    ng-model="feelingDiner.selectedOption"></select>
            <p><br /><button class="btn btn-warning" ng-click="PostInputDiner()">Opslaan</button></p>
        </div>

        <p><button class="btn btn-danger btn-lg" ng-click="GetInputSnack()">Snack</button> </p>
        <div class="col-md-offset-1" ng-show="visibleSnack">
            <p>What snacks did you have?</p>
            <form ng-submit="moreInputsSnack(EetController.SnackItem)">
                <input type="text" ng-model="EetController.SnackItem" />
                <button class="btn btn-danger" type="submit">Add</button>
            </form>
            <ul>
                <li ng-repeat="x in inputsSnack">{{x}}</li>
            </ul>
            <p>How did you feel?</p>
            <select name="mySelect" id="mySelect"
                    ng-options="option for option in feelingSnack.availableOptions track by option"
                    ng-model="feelingSnack.selectedOption"></select>

            <p><br /><button class="btn btn-danger" ng-click="PostInputSnack()">Opslaan</button></p>
        </div>

        <button ng-click="GetDag()" value="Get Maaltijden">Get Maaltijden</button>
        {{data}}
    </div>

    

    <hr>


    <!--
       <div ng-controller="HotelController">
           
           <button ng-click="GetHotels()" value="Get Hotels">Get Hotels</button>
           <br>
           <button ng-click="PostHotel()" value="Post Hotels">Post Hotels</button>
           <br>
           <button ng-click="GetHotelById()" value="Post Hotels">Get hotel by id</button>
       </div>
    -->
</body>
</html>